.busketItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 5px 0;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}
.MuiListItemIcon-root {
  min-width: 40px !important;
}
.busketItem__title {
  text-overflow: ellipsis; /* Добавляем многоточие */
}
.busketItem__left {
  display: flex;
}
.busketItem__img {
  max-height: 170px;
  min-width: 170px;
  object-fit: contain;
  margin-right: 15px;
}
.busketItem__cost {
  margin-left: 10px;
}

.busketItem__content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.busketItem__btn {
  margin: 10px 0;
}
