.basketItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 5px 0;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}
.MuiListItemIcon-root {
  min-width: 40px !important;
}
.basketItem__title {
  text-overflow: ellipsis; /* Добавляем многоточие */
}
.basketItem__left {
  display: flex;
}
.basketItem__img {
  max-height: 170px;
  min-width: 170px;
  object-fit: contain;
  margin-right: 15px;
}
.basketItem__cost {
  margin-right: 20px;
  font-weight: 500;
}

.basketItem__content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.basketItem__btn {
  margin: 10px 0;
}
@media (max-width: 480px) {
  .basketItem {
    flex-direction: column;
  }
  .basketItem__left {
    flex-direction: column;
  }
  .MuiListItemIcon-root {
    min-width: 0px !important;
  }
  .basketItem__img {
    max-width: 100%;
  }
}
