.product {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 1;
}
.product__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.product__star {
  color: #ffb020;
  width: 8px;
}
.product__img {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
}
.product__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__btn {
  margin-top: 10px;
  width: 100px;
}
.product__btn > button {
  width: 100%;
  background-color: #ffb020;
  color: black;
}
.product__btn > button:hover {
  background-color: #ffa600;
}
